.container {
    display : flex;
    flex-direction: column;
}

.maincontent {
    display : flex;
    flex-direction: row
}
body{
    margin: 0;
    background-color: darkorange;
    
}

.description{
    color: white;
    width: 50%
}

#header{
    width: 100vw;
    height: 10vh;
    background-color: rgb(195, 200, 94);
}